html, body {
    margin: 0; 
    padding: 0;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
}

.home-heading {
    @include column-vertical-center;
    &__logo {
        padding: 1rem 0; 
        width:100%;
        //position: fixed;
        background: white;
        z-index: 3; 
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.49);
        @include center;
        > img {
            margin: auto;
        }
        
    }
    &__text--dark-grey {
        background: lightgray;
        padding: 1rem 0;
        width: 100%; 
        z-index: 2;
        @include center;
        @include adjusted-position;
        & > span {
            font-weight: 500;
            
        }
    }
    &__text--grey {
        @include column-vertical-center;
        @include adjusted-position;
        background: #eaeaea; 
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-weight: 200;
        &__title {
            margin: 0; 
        }
    }
}

.home-main {
    padding: 0 2rem; 
    @include adjusted-position;
}

.functioning__list {
    list-style: none;
    display:flex; 
    flex-direction: column; 
    padding:0;
    &__item {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        width: 85%;
        padding: .5rem 2rem;
        margin: 0.8rem 0;
        border-radius: 1.5rem;
        font-weight: 500;
        box-shadow: 2px 9px 21px -4px rgba(0,0,0,0.17);
        span {
            position: relative;
            right: 2.7rem;
            width: 1rem;
            height: 1rem;
            padding: .3rem;
            border-radius: 50%;
            background: $color-primary;
            color:white;
            @include center;
        }
        i {
            position: relative;
            right: 1.38rem;
            font-size: 1.3rem;
        }
    }

}
.restaurant__card {
    height: 285px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 2px 9px 21px -4px rgba(0,0,0,0.17);
    margin-bottom: 1.5rem; 
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        margin-top: -.3rem;
    }
    &__img {
        margin: 0;
        width: 100%;
        height: 72%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info__title {
            margin-bottom: .3rem;
    }
    
}


.footer {
    @include adjusted-position;
    background: gray;
    padding: 1.5rem 2.5rem;
    color: white;
    &__logo {
        margin-top: 0;
        font-size: 1.2rem;
        font-family: "shrikhand";
        font-weight: 400;
        margin-bottom: .5rem;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
            margin-bottom: .4rem;
            > i {
                margin-right: .4rem;
            }
        }
    }
    
}


.btn {
    padding: 1rem 1.5rem;
    background: linear-gradient(164deg, $color-secondary 0%,$color-primary 100%); 
    color: white; 
    border:none; 
    border-radius: 2rem; 
}
.fa-location-dot {
  position: relative;
  right: 15px;
}

.fa-heart {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color:inherit;
}