html, body {
    margin: 0; 
    padding: 0;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
}

.home-heading {
    @include column-vertical-center;
    &__logo {
        padding: 1rem 0; 
        width:100%;
        background: white;
        z-index: 3; 
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
        @include center;
        > img {
            margin: auto;
        }
        
    }
    &__text--dark-grey {
        background: #eaeaea;
        padding: 1rem 0;
        width: 100%; 
        z-index: 2;
        @include center;
        & > span {
            font-weight: 500;
            
        }
    }
    &__text--grey {
        @include column-vertical-center;
        background: whitesmoke; 
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        font-weight: 200;
        &__title {
            @media screen and (min-width: 1000px) {
                br {
                    display:none;
                }
            }
            margin: 0; 
        }
    }
}
.functioning {
    padding: 2rem 2rem;
}

.functioning__list {
    list-style: none;
    display:flex; 
    flex-direction: column; 
    padding:0;
    &__item {
        display: flex;
        align-items: center;
        background: #f6f6f6;
        width: 85%;
        padding: .5rem 2rem;
        margin: 0.8rem 0;
        border-radius: 1.5rem;
        font-weight: 500;
        box-shadow: 2px 9px 21px -4px rgba(0,0,0,0.17);
        span {
            position: relative;
            right: 2.7rem;
            width: 1rem;
            height: 1rem;
            padding: .3rem;
            border-radius: 50%;
            background: $color-primary;
            color:white;
            @include center;
        }
        i {
            position: relative;
            right: 1.38rem;
            font-size: 1.3rem;
            color: gray;
        }
    }

}
.food {
    background: whitesmoke;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.food__card {
    height: 230px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 9px 21px -4px rgba(0,0,0,0.17);
    margin-bottom: 1.5rem; 
    background: white; 
    transition: 400ms; 
    &:hover{
       filter: brightness(1.1); 
        box-shadow: 2px 9px 21px 2px rgba(0,0,0,0.35);
    }
    &:active{
        
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        margin-top: -.3rem;
    }
    &__img {
        margin: 0;
        width: 100%;
        height: 65%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info__title {
            margin-bottom: .3rem;
    }
    
}


.footer {
    background: #353535;
    padding: 1.5rem 2.5rem;
    color: white;
    &__logo {
        margin-top: 0;
        font-size: 1.2rem;
        font-family: "shrikhand";
        font-weight: 400;
        margin-bottom: .5rem;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        &__item {
            margin-bottom: .4rem;
            > i {
                margin-right: .4rem;
            }
        }
    }
    
}


.btn {
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 0.9rem;
    background: linear-gradient(164deg, $color-secondary 0%,$color-primary 100%); 
    box-shadow: 2px 9px 21px -4px rgba(0,0,0,0.17);
    cursor: pointer;
    color: white; 
    border:none; 
    border-radius: 2rem; 
    transition: .4s ease; 
    &:hover{
       filter: brightness(1.1); 
       transform: translateY(.4rem);
       box-shadow: 2px 9px 21px 2px rgba(0,0,0,0.35);
    }
    &:active {
        box-shadow: 2px 9px 17px 2px rgba(0,0,0,0.5);
    }
}
.fa-location-dot {
  position: relative;
  right: 15px;
}

.fa-heart {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color:inherit;
}

@media screen and (min-width: 1000px) {
    .food{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &__title {
            grid-column: 1 /s;
        }
        
    }
}

@media screen and (max-width: 999px) and (min-width: 760px){
    .food{
        grid-template-columns: repeat(4, 1fr);
        &__card:nth-child(2), &__card:nth-child(4) {
            grid-column: 1 / 3; 
        }
        &__card:nth-child(3), &__card:nth-child(5) {
            grid-column: 3 / 5; 
        }
    }
}

