html, body {
    margin: 0; 
    padding: 0;
    font-size: 16px; 
    font-family: 'Roboto', sans-serif;
}
.restaurant-heading__backlink {
    margin-left: 1.5rem; 
    > i {
        font-size: 1.3rem;
    }
}
.restaurant-picture {
    margin: 0; 
    width:100%;
    height: 20rem; 
    > img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
    }
}
.restaurant {
    display: grid; 
    gap: 1rem;
    grid-template-columns: 1fr;
    background: whitesmoke; 
    position: relative;
    z-index: 5; 
    margin-top: -4rem; 
    border-radius: 3rem 3rem 0 0;
    &__introduction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem 0;
        > h1 {
            font-family: "Shrikhand", sans-serif; 
            font-size: 1.8rem; 
        }
    }
}



.restaurant-menu {
    padding: 0 2rem;
    
    > h2 {
        font-size: 1.1rem;
        font-weight: 400;
    }
    &__item {
        animation: hiddenSlide 1s; 
        background: white;
        display: flex;
        align-items: flex-end;
        box-shadow:2px 9px 21px -4px rgba(0,0,0,0.17);
        padding: 0.8rem 0.7rem;
        justify-content: space-between;
        border-radius: 1.2rem;
        margin-bottom: 1rem;
        h3 {
            margin-top: 0;
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
          }
          &__price {
            font-size: 1rem;
            font-weight: 500;
          }
          &__text {
            font-weight: 300;
          }
        
      }
      
    
    
}

.btn-center {
    margin: 2rem auto 4rem;
    padding: 1rem 3rem;
    font-size: bold;
    font-weight: 650;
    box-shadow:2px 9px 21px -4px rgba(0,0,0,0.17);
}

@media screen and (min-width: 1000px) {
    .restaurant__container__menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1Fr;
    }
}


@media screen and (max-width: 999px) and (min-width: 760px){
    .restaurant__container__menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}



@keyframes hiddenSlide {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}